/*
 * Hide buttons
 */

/* Hide Tab Close buttons */

.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

/* Hide  forward button  */

#forward-button {
  display: none !important;
}

/* Hide  back button  */

#back-button {
  display: none !important;
}

/* Hide  spacer between tabs and border  */

.titlebar-spacer {
  display: none !important;
}

/* Hide  "shield" icon  */

#tracking-protection-icon-container {
  display: none !important;
}

/* Hide  hamburger menu!  */

#PanelUI-button {
  display: none !important;
}

/* This one removes the close button  */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
}

/* Removing the zoom button  */

#urlbar-zoom-button {
  display: none !important;
}

/* Page action (right three dash button)  */

#pageActionButton {
  display: none !important;
}

/*not to confuse using new tabs button*/

#TabsToolbar:not(:hover) #tabs-newtab-button {
  opacity: 1!important;
}

/*#this fix the urlbar not getting correct params when using userchrome.css#*/

:root:not([uidensity]) #urlbar[breakout],
:root:not([uidensity]) #urlbar-container[breakout] {
  --urlbar-toolbar-height: 40px !important;
  --urlbar-height: 32px !important;
  --urlbar-container-height: 40px!important;
}

:root[uidensity=touch] #urlbar[breakout],
:root[uidensity=touch] #urlbar-container[breakout] {
  --urlbar-toolbar-height: 44px !important;
  --urlbar-height: 34px !important;
  --urlbar-container-height: 44px!important;
}

/* 
 * hide tab bar when only one tab active
 */

/* set default height */

:root {
  --hidetabs-tab-min-height: 33px;
}

:root[uidensity=compact] {
  --hidetabs-tab-min-height: 29px;
}

:root[uidensity=touch] {
  --hidetabs-tab-min-height: 41px;
}

/* Set --tab-min-height to 0px so tab bar can disappear */

#tabbrowser-tabs {
  --tab-min-height: 0px;
}

/* Restore minimum height when more than one tab */

#tabbrowser-tabs tab {
  --tab-min-height: var(--hidetabs-tab-min-height);
}

/* Collapse tab bar when there is only one tab (tab is both first & last) */

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse;
}

/*
 *  Tabs expand 
 */

/* :root { */

/*   --Tabs-transition-duration: 0s; */

/*   --Tabs-transition-delay: 0s; */

/* } */

/* uniformly */

/* #titlebar .tabbrowser-tab:not([pinned="true"]) { */

/*   max-width: 100vw!important; */

/*   /1* overflow: hidden; *1/ */

/*   transition: max-width var(--Tabs-transition-duration) ease-out var(--Tabs-transition-delay)!important; */

/* } */

/* .tabbrowser-tab:not([visuallyselected=true]) .tab-close-button { */

/*   display: none!important; */

/* } */

/* #titlebar:hover .tabbrowser-tab:not([pinned="true"]) .tab-close-button { */

/*   display: -moz-inline-box!important; */

/* } */

/* .tabbrowser-tab:not([fadein]) { */

/*   display: none; */

/* } */

/* only the seleccted */

/* #titlebar .tabbrowser-tab:not([pinned="true"])[visuallyselected=true] { */

/*   max-width: 100vw!important; */

/*   overflow: hidden; */

/*   transition: max-width var(--Tabs-transition-duration) ease-out var(--Tabs-transition-delay)!important; */

/* } */

/*
 * Adjust Mute icon
 */

.tabbrowser-tab:not([visuallyselected=true]):not(:hover) .tab-icon-overlay {
  opacity: 1!important;
  top: -9.5px!important;
  inset-inline-end: -6px!important;
  stroke: var(--tab-icon-overlay-stroke, white)!important;
  transition: var(--Tabs-transition-duration);
}

.tabbrowser-tab .tab-icon-sound {
  display: none;
}

.tabbrowser-tab:not(:hover) .tab-icon-overlay {
  display: none;
}

/* 
 * Auto-hide Navigation bar
 * Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text. 
 */

:root {
  --navbar-transition-delay: 0.2s;
  --navbar-transition-duration: 135ms;
  --nav-bar-margin: calc(-1 * (var(--proton-tab-block-margin) + var(--tab-min-height)));
}

:root:not([uidensity]) {
  --bookmark-bar-margin: -28px;
}

:root[uidensity=touch] {
  --bookmark-bar-margin: -34px;
}

/*
 * Auto-hide url-bar
 */

:root:not([customizing])[chromehidden=""][sizemode="normal"] #nav-bar,
:root:not([customizing])[chromehidden=""][sizemode="fullscreen"] #nav-bar,
:root:not([customizing])[chromehidden=""][sizemode="maximized"] #nav-bar {
  position: relative;
  margin-bottom: calc(var(--nav-bar-margin) + 3px);
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay) !important;
  z-index: 101;
}

:root:not([customizing])[sizemode="normal"] #navigator-toolbox:hover #nav-bar,
:root:not([customizing])[sizemode="fullscreen"] #navigator-toolbox:hover #nav-bar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:hover #nav-bar,
:root:not([customizing])[sizemode="normal"] #navigator-toolbox:focus-within #nav-bar,
:root:not([customizing])[sizemode="fullscreen"] #navigator-toolbox:focus-within #nav-bar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:focus-within #nav-bar {
  transform: rotateX(0deg);
  transition-delay: 0s!important;
  z-index: 100;
}

/*
 * Auto-hide bookmark bar
 */

#PersonalToolbar {
  --uc-autohide-toolbar-delay: 600ms;
}

:root:not([customizing])[sizemode="normal"] #PersonalToolbar,
:root:not([customizing])[sizemode="maximized"] #PersonalToolbar {
  position: relative;
  margin-bottom: var(--bookmark-bar-margin);
  transform: rotateX(90deg) translate(0px, calc(-1 * var(--bookmark-bar-margin)));
  transform-origin: top;
  transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay)!important;
  z-index: 99;
}

:root:not([customizing])[sizemode="normal"] #navigator-toolbox:hover #PersonalToolbar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:hover #PersonalToolbar {
  transition-delay: 0s!important;
  transform: rotateX(0) translate(0px, calc(-1 * var(--nav-bar-margin)));
}

/*
 * Auto-hide-tab-bar
 */

/* :root { */

/*   --tabbar-transition-delay: 3s; */

/* } */

/* :root[uidensity="normal"] { */

/*   --tabbar-padding-height: 0px; */

/* } */

/* :root[uidensity="touch"] { */

/*   --tabbar-padding-height: 1px; */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox { */

/*   border-bottom: none!important; */

/*   position: absolute; */

/*   margin-top: calc(-1 * var(--tab-min-height) - 2 * var(--proton-tab-block-margin)); */

/*   transition: var(--navbar-transition-duration) linear var(--tabbar-transition-delay); */

/*   z-index: 1; */

/*   transform: translate(0, calc(1 * var(--tab-min-height) + 2 * var(--proton-tab-block-margin))); */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:hover, */

/* :root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:focus-within { */

/*   padding-bottom: var(--tabbar-padding-height); */

/*   transform: none; */

/*   margin-top: 0; */

/*   transition-delay: 0s; */

/*   opacity: 1; */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox { */

/*   border-bottom: none!important; */

/*   padding-bottom: var(--tabbar-padding-height); */

/*   position: relative; */

/*   margin-top: calc(-1 * var(--tab-min-height) - 2 * var(--proton-tab-block-margin) + 0.1px ); */

/*   transition-delay: var(--navbar-transition-delay); */

/*   z-index: 1; */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox:hover, */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox:focus-within { */

/*   min-height: var(--tab-min-height); */

/*   transform: translate(0px, calc( 1 * var(--tab-min-height) + 2 * var(--proton-tab-block-margin))); */

/*   transition-delay: 0s; */

/* } */

/*
 * notification-deck
 */

#tab-notification-deck {
  position: relative;
  height: 0px;
  z-index: 101;
  transition: 0s linear 0s !important;
}

:root[sizemode="maximized"] #tab-notification-deck {
  padding-top: 0.1px;
}

.notificationbox-stack[notificationside="top"] {
  margin-top: calc( -1 * var(--tab-min-height) - 2 * var(--proton-tab-block-margin));
  transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay);
}

:root[sizemode="maximized"] .notificationbox-stack[notificationside="top"] {
  margin-top: 0;
  transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay);
}

:root[sizemode="normal"] #navigator-toolbox:hover .notificationbox-stack[notificationside="top"],
:root[sizemode="normal"] #navigator-toolbox:focus-within .notificationbox-stack[notificationside="top"] {
  transform: translate( 0, calc( 2 * var(--tab-min-height) + 2 * var(--proton-tab-block-margin)));
  transition-delay: 0s;
}

:root[sizemode="maximized"] #navigator-toolbox:hover .notificationbox-stack[notificationside="top"],
:root[sizemode="maximized"] #navigator-toolbox:focus-within .notificationbox-stack[notificationside="top"] {
  transform: translate( 0, calc( 1 * var(--tab-min-height) + 1 * var(--proton-tab-block-margin)));
  transition-delay: 0s;
}

/*
 * adjust theme
 */

:root[sizemode="maximized"] {
  --image-height: calc( var(--tab-min-height) + 2 * var(--proton-tab-block-margin) + 8.1px);
}

:root[sizemode="normal"] {
  --image-height: calc(var(--tab-min-height) + 2 * var(--proton-tab-block-margin));
}

/*
 * tabs background fix
 */

#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected=true]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected=true]:-moz-lwtheme {
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)),
	linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor))!important;
}

/*
 * odd line
 */

#nav-bar {
  box-shadow: none!important;
}

/*change background from navigator-toolbox to tabstoolbar */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox:not(:-moz-lwtheme) { */

/*   background: -moz-Dialog!important; */

/* } */

/* :root:not([customizing])[chromehidden=""] #navigator-toolbox { */

/*   background: transparent!important; */

/*   transition-delay: var(--tabbar-transition-delay); */

/* } */

/* :root:not([customizing])[chromehidden=""][lwtheme-image] #navigator-toolbox:-moz-lwtheme #TabsToolbar:before { */

/*   background-image: var(--lwt-header-image), var(--lwt-additional-images); */

/* } */

/* :root:not([customizing])[chromehidden=""]  #TabsToolbar::before { */

/*   content: ''; */

/*   position: absolute; */

/*   right: 0; */

/*   top: 0; */

/*   width: 100%; */

/*   height: var(--image-height); */

/*   background-image: var(--lwt-additional-images); */

/*   background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color))!important; */

/*   background-repeat: var(--lwt-background-tiling)!important; */

/*   background-position: var(--lwt-background-alignment)!important; */

/*   opacity: 0; */

/*   transition-property: opacity, height; */

/*   transition-duration: 0s,var(--navbar-transition-duration); */

/*   transition-delay: var(--tabbar-transition-delay), var(--navbar-transition-delay); */

/*   z-index: -1; */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:-moz-lwtheme:hover #TabsToolbar::before, */

/* :root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:-moz-lwtheme:focus-within #TabsToolbar::before { */

/*   height: calc( 2 * var(--tab-min-height) + 3 * var(--proton-tab-block-margin)); */

/*   opacity: 1; */

/*   transition-delay: 0s; */

/* } */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox:-moz-lwtheme:hover #TabsToolbar::before, */

/* :root:not([customizing])[chromehidden=""][sizemode="maximized"] #navigator-toolbox:-moz-lwtheme:focus-within #TabsToolbar::before { */

/*   height: calc( 2 * var(--tab-min-height) + 3 * var(--proton-tab-block-margin)); */

/*   opacity: 0; */

/*   transition-delay: 0s; */

/* } */

/*Able to drop abs when all hided*/

:root:not([customizing])[chromehidden=""][sizemode="normal"] arrowscrollbox,
:root:not([customizing])[chromehidden=""][sizemode="normal"] .titlebar-buttonbox-container {
  animation: titlebaropacityoff var(--navbar-transition-duration) linear var(--tabbar-transition-delay) forwards;
}

@keyframes titlebaropacityoff {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

:root:not([customizing])[chromehidden=""][sizemode="normal"] .tab-drop-indicator {
  animation: indicator 0s forwards;
}

@keyframes indicator {
  from {

  }

  to {
    transform: translate(0);
    background: rgba(10, 132, 255, .5);
    margin-right: -100vw;
    margin-left: -40px;
    width: 100vw;
    border: 2px dashed rgba(10, 132, 255, 1);
  }
}

:root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:hover arrowscrollbox,
:root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:focus-within arrowscrollbox,
:root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:hover .titlebar-buttonbox-container,
:root:not([customizing])[chromehidden=""][sizemode="normal"] #navigator-toolbox:focus-within .titlebar-buttonbox-container {
  animation: none;
}

/* 
 * Urlbar lager when active
 */

:root:not([customizing])[sizemode="normal"] #urlbar-container:focus-within #urlbar {
  position: fixed!important;
  width: 100%!important;
  margin-left: 0%;
}

#urlbar[breakout] {
  z-index: 1;
}

#statuspanel {
  display: none !important;
}
