# Screen positions
xrandr --output HDMI-0 --auto --primary
xrandr --output DVI-I-0 --right-of HDMI-0 --auto

# Temporarily turning the touch-pad off while typing
syndaemon -K -i 0.5 -R -d &

# enable numlockx
numlockx &

# Disables Energy Star features (No screen blank)
xset -dpms
xset s off

# Speed xrate up
xset r rate 300 50 

# load .Xresources 
[ -f ~/.Xresources ] && xrdb ~/.Xresources &

# load Xmodmap/Xbindkeys config
[ -f ~/.config/Xmodmap ] && xmodmap ~/.config/Xmodmap &

# Wallpaper
nitrogen --set-scaled ~/.config/wallpaper &

# Compositor
picom --experimental-backends &

# Network
nm-applet &

# Audio
pipewire-pulse &
# start-pulseaudio-x11 &

# Disk Automount
udiskie --tray &

# Screensaver
xscreensaver -no-splash &

# Notification
dunst &

# clipboard
parcellite &

# redshift
redshift-gtk -t 6500:5000 &

# remove idle mouse
unclutter &

# kdeconnect
kdeconnect-indicator &

# calcurse notifications
calcurse-notify &

# polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
