#! /usr/bin/env bash

# Network
nm-applet &

# Screen positions
xrandr --output HDMI-0 --auto --primary
xrandr --output HDMI-0 --right-of DP-0 --auto

# Temporarily turning the touch-pad off while typing
syndaemon -K -i 0.5 -R -d &

# enable numlockx
numlockx &

# Disables Energy Star features (No screen blank)
xset -dpms
xset s off

# Speed xrate up
xset r rate 300 50 

# load .Xresources 
[ -f ~/.Xresources ] && xrdb ~/.Xresources &

# load Xmodmap/Xbindkeys config
[ -f ~/.config/Xmodmap ] && xmodmap ~/.config/Xmodmap &

# Wallpaper
nitrogen --set-scaled $WALLPAPER_FILE &

# Audio
pipewire-pulse &
# start-pulseaudio-x11 &
mpd &
# pulseaudio &

# Disk Automount
udiskie --smart-tray --notify &

# Screensaver
xscreensaver -no-splash &

# clipboard
parcellite &

# redshift
redshift-gtk -t 6500:5000 &

# remove idle mouse
unclutter -noevents -idle 2.5 &

# kdeconnect
# export $(dbus-launch)
kdeconnect-indicator &

# polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Compositor
picom --experimental-backends &

# Notification
(sleep 1 && dunst) &

# Network dependent
(
sleep 30 
whatsapp-nativefier &
mattermost-desktop &
calcurse-notify &
) & 


