#! /usr/bin/env bash

eval "$(dbus-launch --sh-syntax)"

# Network
nm-applet &

# Screen positions
config-screens &> /dev/null

# Temporarily turning the touch-pad off while typing
# syndaemon -K -i 0.5 -R -d &

# enable numlockx
numlockx &

# Disables Energy Star features (No screen blank)
xset -dpms
xset s off


# load .Xresources
[ -f ~/.Xresources ] && xrdb ~/.Xresources &


# Audio
pipewire-pulse &>/dev/null &
# start-pulseaudio-x11 &
# mpd &
# pulseaudio &

# Disk Automount
udiskie --smart-tray --notify &

# Screensaver
# xscreensaver -no-splash &>/dev/null &

# clipboard
parcellite &

# redshift
# redshift-gtk -t 6500:5000 &

# remove idle mouse
unclutter -noevents -idle 2.5 &

# kdeconnect
# export $(dbus-launch)
# kdeconnect-indicator &

# polkit
distro_name=$(lsb_release -i | sed 's/.*:\s*//g')
case "$distro_name" in
Arch)
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &>/dev/null &
;;
esac

# Compositor
picom_distro_conf &>/dev/null &

# Notification
(sleep 5 && dunst) &

# Network dependent
(
  sleep 30
  whatsapp-nativefier &
) &

[ -f ~/.xprofile-custom ] && bash ~/.xprofile-custom

(sleep 5 && config-keyboard) &
